.chatFooter {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 6px 20px 20px;

  .tools {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    column-gap: 8px;
    margin-left: 10px;

    .toolItem {
      display: flex;
      align-items: center;
      padding: 2px 6px;
      color: var(--text-color-secondary);
      font-size: 12px;
      column-gap: 6px;
      background-color: #f6f6f6;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .composer {
    display: flex;
    align-items: flex-end;
    max-height: 400px;
    min-height: 44px;
    margin-bottom: 0;
    .collapseBtn {
      height: 46px;
      margin: 0 10px;
      color: var(--text-color-third);
      font-size: 20px;
      line-height: 46px;
      cursor: pointer;

      &:hover {
        color: var(--chat-blue);
      }
    }

    .addConversation {
      height: 46px;
      margin: 0 20px 0 10px;
      color: var(--text-color-fourth);
      font-size: 26px;
      line-height: 54px;
      cursor: pointer;

      &:hover {
        color: var(--chat-blue);
      }
    }

    .composerInputWrapper {
      position: relative;
      flex: 1;

      .composerInput {
        width: 100%;
        height: 0px !important;
        :global {
          .ant-select-selector {
            box-sizing: border-box;
            height: 100%;
            overflow: hidden;
            color: rgba(0, 0, 0, 0.87);
            font-size: 14px;
            word-break: break-all;
            background: #f9f9f9;
            border: 0;
            border-radius: 8px;
            transition: border-color 0.15s ease-in-out;
            resize: none;

            .ant-select-selection-search-input {
              box-sizing: border-box !important;
              padding-right: 40px !important;
              padding-left: 15px !important;
              padding-top: 10px !important;
              padding-bottom: 10px !important;
              min-height: 36px !important;
            }

            .ant-select-selection-search {
              right: 0 !important;
              left: 0 !important;
            }

            .ant-select-selection-placeholder {
              line-height: 40px;
              margin-bottom: 30px;
            }
          }

          .ant-select-clear {
            right: auto;
            left: 500px;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            font-size: 16px;
          }
        }
      }

      :global {
        .realInput {
          box-sizing: border-box !important;
          padding-right: 40px !important;
          padding-left: 15px !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          min-height: 36px !important;
        }
        .ant-select-focused {
          .ant-select-selector {
            box-shadow: rgb(74, 114, 245) 0px 0px 3px !important;
          }
        }
      }

      .voiceBtn {
        -webkit-user-select: none; /* Chrome, Safari, Android */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  .sendBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(184, 184, 191);
    border: unset;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;

    &.sendBtnActive {
      background-color: var(--chat-blue);
    }
  }

  &.mobile {
    margin: 6px 10px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    .addConversation {
      height: 40px;
      margin: 0 12px 0 4px;
    }

    .composer {
      max-height: 400px;
      min-height: 44px;
      display: flex;
      background: #fff;
      // padding: 5px 0;
      height: 70px;
      padding-bottom: 7px;
      .composerInput{
        height: 0px !important;
      }
      :global {
        .realInput {
          box-sizing: border-box !important;
          padding-right: 40px !important;
          padding-left: 15px !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          min-height: 36px !important;
        }
        .ant-select-selector {
          font-size: 14px !important;
        }

        .ant-select-selection-search-input {
          box-sizing: border-box !important;
          padding-right: 40px !important;
          padding-left: 15px !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          min-height: 36px !important;
        }

        .ant-select-selection-placeholder {
          margin-bottom: 0 !important;
          padding-left: 0 !important;
          line-height: 38px !important;
        }
      }
    
      .swtichInput {
        padding: 14px 8px;
        width: 45px;
        >span {
          vertical-align: text-top;
          vertical-align: text-top;
          border: solid 1px #333;
          border-radius: 50%;
          color: #333;
        }
        
        svg {
          width: 24px;
          height: 24px;
          transform: scale(0.7);
        }
      }
    }
    .composerInputWrapper {
      margin: 5px 0;
      width: calc(100% - 40px);
      padding-right: 10px;
      .composerInput {
        height: 100%;
        border: none;
        border-radius: 4px;
      }
      button {
        height: 44px;
        width: 100%;
      }

    }
    .sendBtn {
      right: 20px;
      bottom: 8px;
      width: 26px;
      height: 26px;
    }
  }
}

.searchOption {
  padding: 6px 20px;
  color: #212121;
  font-size: 16px;
}

.mobile {
  .searchOption {
    min-height: 26px;
    padding: 2px 12px;
    font-size: 14px;
  }
}

.model {
  margin-top: 2px;
  color: var(--text-color-fourth);
  font-size: 13px;
  line-height: 12px;
}

.autoCompleteDropdown {
  left: 20px !important;
  width: fit-content !important;
  min-width: 100px !important;
  border-radius: 6px;

  &.modelOptions {
    width: 150px !important;

    .searchOption {
      padding: 0 10px;
      color: var(--text-color-secondary);
      font-size: 14px;
    }

    :global {
      .ant-select-item {
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }
}

.semanticType {
  margin-right: 10px;
}

.quoteText {
  color: var(--chat-blue);
}
